<!DOCTYPE html>

<title>Organization index</title>

{% block body %}
    <h1>Organization index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organization in organizations %}
            <tr>
                <td>{{ organization.id }}</td>
                <td>{{ organization.name }}</td>
                <td>{{ organization.country }}</td>
                <td>
                    <a href="{{ path('organization_show', {'id': organization.id}) }}">show</a>
                    <a href="{{ path('organization_edit', {'id': organization.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('organization_new') }}">Create new</a>
{% endblock %}
